<div class="home" style="height: auto; width: 100%;">
    <nav class="d-flex justify-content-around" >
        <div class="company d-flex flex-row justify-content-start">
            <img href="" style="height: auto; width: 50%; " src="/assets/img/logo-Asset272x.png" class=" rounded mx-auto d-block" alt="logo">
        </div>

        <div class="profile d-flex  justify-content-end">
            <ul>
                <li><a href="" routerLink="/login" class="bi bi-box-arrow-left"> Login</a></li>
                <li><a href="" routerLink="/register" class="bi bi-box-arrow-right"> Register</a></li>              
            </ul> 
        </div>
    </nav>
</div>
