<div class="container">
    <div class=" nav-bar d-flex flex-row justify-content-between" >
        <div>
            <img href="" style="height: auto; width: 45%; " src="/assets/img/logo-Asset272x.png" class=" rounded mx-auto d-block" alt="logo">
        </div>

        <div >
            <ul>
                <li><a href=""  class="bi bi-pencil-square"> Contacts</a></li>
                <li><a href=""  class="bi bi-gear-fill"> Services</a></li>
                <li><a href="" routerLink="/login" class="bi bi-person-fill-lock"> Login</a></li>
                <li><a href="" routerLink="/register" class="bi bi-person-fill-add"> Register</a></li>              
            </ul> 
        </div>
    </div>

    <div  class="row welcome">
        <img src="/assets/img/wp4110663.jpg" style="width: 100%; height: auto;" alt="Welcome">
    </div>
    <div class="row">

        <div class="frame-left col d-flex justify-content-center align-items-center">
          <div class="frame-group" >
              <h1>Apartment</h1> <br> <h2>from</h2> <br> <h1>R4,000</h1>
          </div>
        </div>

        <div class="frame-right col d-flex justify-content-center align-items-center">
          <div class="frame-group">
            <h2>Aero Space</h2><br> <h1>Real <strong>Estate</strong></h1>
          </div>
        </div>
       
    </div>
    <footer>
        <p style="text-align: center; color: #fff; " >Developed by: Anonymous | {{year}} | &copy;Copyright Reserved </p>
    </footer>
</div>

