.frame{
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    display: grid;
    place-items: center;
    overflow: hidden;
    min-width: 15em;
    min-height: 15em; 
    border: 1px solid #ccc;
}

.card h2{
    font-size: 2em;
    text-align: center;
    white-space: nowrap;

}