<div class="login-container">
    <div class="forms-container">
      <div class="signin-signup">
        
        <img style="height: auto; width: 70%; " src="/assets/img/logo-Asset272x.png" class=" rounded mx-auto d-block" alt="logo">

        <h2 class="title margin-top" style="color:#222b45; " >Aero Space Portal</h2>
        <h5 class="margin-top" style="color:#222b45;" >Login</h5>

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="sign-in-form" >
          <div class="input-field margin-top">
            <i class="bi bi-person-fill" style="color: #222b45;"></i>
            <input ngModel name="Email" id="Email" type="text" class="form-control" placeholder="Username" aria-label="Username">
          </div>

          <div class="input-field margin-top">
            <i class="bi bi-lock" style="color: #222b45;"></i>
            <input ngModel name="Password" id="Password" type="password" class="form-control" placeholder="Password" aria-label="Password">
          </div>

          <input type="submit" value="Login" class="btn btn-primary margin-top login-btn">

          <div *ngIf="invalidLogin" class="alert alert-danger margin-top" id="login-error-alert">Invalid username or password</div>
       
        </form>

        <div class="row margin-top">
          <a routerLink="/register" style="font-size: 15px;color: #222b45;">Are you new? Register here</a>
        </div>

        <div class="row" style="margin-top:5px" >
          <a routerLink="/" style="font-size: 15px;color: #222b45;">Forgot Password? Reset here</a>
        </div>

      </div>
    </div>
</div>
