
html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: 'Century Gothic';    
}

.frame{
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
    align-items: center;
    /* background-color: rgb(151, 151, 151); */
    margin-left: 10.3rem;
    margin-top: 5rem;
}

.admin-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: .7rem;
    background-color: blueviolet;
  }

app-root{
    margin-bottom: 5rem;
}

.margin-top{
    margin-top: 20px;   
}

