/* Primary-color: #222b45; */

  .bi-person-fill-add{
    font-size: 1.8rem;
  }
  
  /* TABLE */

  table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  tr.mat-row {
    cursor: pointer;
  }

  .modal-body{
    display: grid;
    grid-column: 1fr 2fr;
  }

  .demo-table {
    width: 100%;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
    background-color: rgb(156, 112, 197);
    color: #f3f3f3;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  