
<div class="login-container"> <!-- Main Frame -->
    <div *ngIf="!success" class="forms-container">
      <div class="signin-signup">
        
        <img style="height: auto; width: 80%; " src="/assets/img/logo-Asset272x.png" class=" rounded mx-auto d-block" alt="logo">
        <h4 class="margin-top" style="color:#222b45;" >Request Confirm email Token</h4>

        <form #requestConfirmEmailToken="ngForm" (ngSubmit)="RequestConfirmEmailToken(requestConfirmEmailToken)" class="sign-in-form" >

          <div class="input-field margin-top">
            <i class="bi bi-person-fill" style="color: #222b45;"></i>
            <input ngModel name="Email" id="Email" type="text" class="form-control" placeholder="Email" aria-label="Email">
          </div>

          <input type="submit" value="Submit" class="btn btn-primary margin-top login-btn">
        </form>

        <div class="row margin-top">
          <a routerLink="/register" style="font-size: 15px;color: #222b45;">Are you new? Register here</a>
        </div>
        <div class="row margin-top">
            <a routerLink="/login" style="font-size: 15px;color: #222b45;">Do you have account? Login here</a>
          </div>
      </div>

    </div>
    <!-- On Success --> 
    <div *ngIf="success" class="on-password-request-success alert-success">
        Email have been sent successfully, Please check your email
    </div>

</div>

