<div class="login-container">
    <div class="forms-container">

      <div class="signin-signup">
        
        <img style="height: auto; width: 40%; " src="/assets/img/logo-Asset272x.png" class=" rounded mx-auto d-block" alt="logo">

        <h2 class="title margin-top" >Aero Space Portal</h2>
        <h4 class="margin-top" >Register</h4>

        <form [formGroup]="formGroupRegister" (ngSubmit)="register()" class="sign-in-form margin-top">
          <!-- <form [formGroup]="formGroupRegister"  #registerForm="ngForm" (ngSubmit)="register(registerForm)" class="sign-in-form margin-top"> -->

          <div class="row">
            <div class="col-6">
              <div class="input-field">
                
                <input formControlName="firstname"  type="text"  id="FirstName" placeholder="Firstname" class="form-control" aria-label="Firstname" />
              </div>
            </div>
            <div class="col-6">
              <div class="input-field">
                
                <input formControlName="lastname" type="text" id="Lastname" placeholder="Lastname" class="form-control" />
              </div>	
            </div>	
          </div>	

          <div class="row margin-top">
            <div class="col-6">
              <div class="input-field">
                
                <input formControlName="email" type="email"  id="Email" placeholder="Email" class="form-control" />
              </div>
            </div>
            <div class="col-6">
              <div class="input-field">
                
                <input formControlName="phoneNumber" type="number" ngModel  id="phoneNumber" placeholder="Phone number" class="form-control" />
              </div>	
            </div>	
          </div>	

          <div class="row margin-top">
            <div class="col-6">
              <div class="input-field">
                
                <input formControlName="password" type="password"  id="Password" placeholder="Password" class="form-control" />
              </div>
            </div>
            <div class="col-6">
              <div class="input-field">
                
                <input formControlName="confirmPassword" type="password"  id="ConfirmPassword" placeholder="Confirm password" class="form-control" />
              </div>	
            </div>	
          </div>	

          <div *ngIf="registeredSuccessfully" name="_alert" class="alert alert-success" id="login-error-alert">Registered Successfully!</div>

          <div *ngIf="formGroupRegister.hasError('passwordMismatch')">
            Passwords do not match.
          </div>

          <input type="submit" [disabled]="formGroupRegister.invalid" value="Register" class="btn btn-primary margin-top login-btn">
          
        </form>

        <div class="margin-top">
          <a routerLink="/login" style="font-size: 15px;color: #222b45;" >Do you have an account? Login here</a>
        </div>
       
      </div>

  


    </div>
</div>

