<div class="login-container"> <!-- Main Frame -->
    <div class="forms-container">
      <div class="signin-signup">
        
        <img style="height: auto; width: 80%; " src="/assets/img/logo-Asset272x.png" class=" rounded mx-auto d-block" alt="logo">
        <h4 class="margin-top" style="color:#222b45;" >Reset Password</h4>

        <form #ResetPasswordForm="ngForm" (ngSubmit)="ResetPassword(ResetPasswordForm)" class="sign-in-form" >

          <div class="input-field margin-top">
            <i class="bi bi-person-fill" style="color: #222b45;"></i>
            <input ngModel name="Email" id="Email" type="text" class="form-control" placeholder="Email" aria-label="Email">
          </div>

          <div class="input-field margin-top">
            <i class="bi bi-lock" style="color: #222b45;"></i>
            <input ngModel name="Password" id="Password" type="password" class="form-control" placeholder="New Password" aria-label="Password">
          </div>

          <div class="input-field margin-top">
            <i class="bi bi-lock" style="color: #222b45;"></i>
            <input ngModel name="ConfirmPassword" id="ConfirmPassword" type="ConfirmPassword" class="form-control" placeholder="Confirm New Password" aria-label="ConfirmPassword">
          </div>

          <input type="submit" value="Reset Password" class="btn btn-primary margin-top login-btn">
        </form>

        <div class="row margin-top">
          <a routerLink="/register" style="font-size: 15px;color: #222b45;">Are you new? Register here</a>
        </div>
        <div class="row margin-top">
            <a routerLink="/login" style="font-size: 15px;color: #222b45;">Do you have account? Login here</a>
          </div>
      </div>
    </div>
    <div *ngIf="success" class="on-password-success">
      Password have been reset successfully.
    </div>
</div>