/* Primary-color: #222b45; */
.nav-bar{
    display: flex;
    direction: row;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
    position: fixed;
   
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222b45;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #d3d3d3;
    color: #1E5099;
  }

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%; 
  margin-top: 5rem;
  margin-left: 3rem;
  width: 15rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  border: 2px solid #1E5099;
  border-radius: 7px;
  overflow-x: hidden;
  padding-top: 16px;
  padding-left: .5em;
  padding-right: .5em;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  
  color: #ffffff;
  display: block;
  margin-bottom: 1px;
  background-color: #222b45;
}

/* Style links on mouse-over */
.sidebar a:hover {
  background-color: #d3d3d3;
  color: #1E5099;
}


